<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/df98e19b56.js" crossorigin="anonymous"></script>
    
    <title>CSV Upload</title>
    <%- style %>
</head>
<body>
    <%- include('_header'); %>

    <div class="main">
        <%- body %>
    </div>

    <%- include('_footer'); %>
    <%- script %>
    <script>
        <% if(flash.success && flash.success.length > 0){ %>
            new Noty({
                theme: 'metroui',
                text: '<%= flash.success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 1000
            }).show();
        <% } %>

        <% if(flash.error && flash.error.length > 0){ %>
            new Noty({
                theme: 'metroui',
                text: '<%= flash.error %>',
                type: 'error',
                layout: 'topRight',
                timeout: 1000
            }).show();
        <% } %>
    </script>
</body>
</html>